body{
    padding: 0;
    margin: 0;
    background-color: palevioletred; 
    

}
.tabel{
    display: flex;
}
.box {
    /* border: 2px solid red; */
    margin-top: 30px;
    border-radius: 20px;
    padding: 100px;
    margin-left: 30px;
   
    
 
}
h3{ 
    text-align: center;
    color:aqua;
    border:2px solid rebeccapurple;
    border-radius: 10px;
} 